
.dashboard-container
.search-line {
	padding:8px 15px;
}
.search-line input {
	width: 80%;
	padding: 5px 10px;
	border:1px solid #555;
}
.product-information {
	/*background: #fafafa;*/
	padding: 0px 15px;
}
.filter-newlocations {
	border:2px dotted #ccc;
	padding:8px 15px;
}


.dashboard-container .filter-newlocations .checkboxSet {
	margin:0px 0px 35px 0px;
}
.dashboard-container .filter-newlocations .checkboxSet span {
	margin:0px 15px 0px 0px;
	border-bottom: 1px dotted #ddd;
}
.dashboard-container .filter-newlocations .checkboxSet span label{
	margin:0px 3px 0px 3px;
}

#tableLinksLocationProduction > tbody > tr > td > a {
	text-decoration: none;
	cursor: pointer;
}
#tableLinksLocationProduction > tbody > tr > td:hover {
	background-color: #F9F9F9;
}

#productInformation table {
	width: 100%;
}
#productInformation .short-product-info {
	margin:0px 20px 0px 0px;
}
#productInformation .short-product-info img {
	margin: 0px 10px 0px 0px;
	height: 100px;
	width: auto;
	float: left;
}
#productInformation .short-product-info ul {

}
#productInformation .short-product-info ul li {
	margin:0px 0px 5px;
}
#productInformation table.listLocations {
	margin:0px 0px 20px 0px;
}

#productInformation .history-movement {
	margin: 20px 0px 0px 0px;
}



#availableLocations {
	margin:20px 0px 10px 0px;
}
#availableLocations > table,
#productInformation table.listLocations {
	width: 100%;
	border: 1px solid #cccccc;
	border-collapse: collapse;
	border-spacing: 0px;
}
#availableLocations > table thead,
#productInformation table.listLocations thead {
	font-weight: bold;
}
#availableLocations > table td,
#productInformation table.listLocations td {
	border: 1px solid #cccccc;
	padding: 2px 5px;
	margin: 0px;
}




