
.dashboard-container
.search-line {
	padding:8px 15px;
}
.search-line input {
	width: 70%;
	padding: 5px 10px;
	border:1px solid #555;
}
.product-information {
	background: #fafafa;
	padding: 8px 15px;
}
.filter-locations {
	border:2px dotted #ccc;
	padding:8px 15px;
}
