<?xml version="1.0"?>
<config>
	<modules>
		<Sw_StockLocation>
			<version>0.1.0</version>
		</Sw_StockLocation>
	</modules>

	<frontend>
		<layout>
			<updates>
				<swstocklocation>
					<file>sw_stocklocation.xml</file>
				</swstocklocation>
			</updates>
		</layout>
		<routers>
			<swstocklocation>
				<use>standard</use>
				<args>
					<module>Sw_StockLocation</module>
					<frontName>stocklocation</frontName>
				</args>
			</swstocklocation>
		</routers>
	</frontend>

	<global>
		<models>
			<swstocklocation>
				<class>Sw_StockLocation_Model</class>
				<resourceModel>swstocklocation_resource</resourceModel>
			</swstocklocation>
			<swstocklocation_resource>
				<class>Sw_StockLocation_Model_Resource</class>
				<entities>
					<table_block>
						<table>sw_sl_block</table>
					</table_block>
					<table_box>
						<table>sw_sl_box</table>
					</table_box>
					<table_typebox>
						<table>sw_sl_typebox</table>
					</table_typebox>
					<table_location>
						<table>sw_sl_location</table>
					</table_location>
					<table_location_product>
						<table>sw_sl_location_product</table>
					</table_location_product>
					<table_section>
						<table>sw_sl_section</table>
					</table_section>
					<table_shelf>
						<table>sw_sl_shelf</table>
					</table_shelf>
					<table_zone>
						<table>sw_sl_zone</table>
					</table_zone>
					<table_locsize>
						<table>sw_sl_location_size</table>
					</table_locsize>
				</entities>
			</swstocklocation_resource>
		</models>

		<blocks>
			<swstocklocation>
				<class>Sw_StockLocation_Block</class>
			</swstocklocation>
		</blocks>

		<helpers>
			<swstocklocation>
				<class>Sw_StockLocation_Helper</class>
			</swstocklocation>
		</helpers>

		<resources>
			<swstocklocation_setup>
				<setup>
					<module>Sw_StockLocation</module>
				</setup>
			</swstocklocation_setup>
		</resources>
	</global>

	<admin>
		<routers>
			<swstocklocation_admin>
				<use>admin</use>
				<args>
					<module>Sw_StockLocation</module>
					<frontName>swstocklocation_admin</frontName>
				</args>
			</swstocklocation_admin>
		</routers>
	</admin>

	<adminhtml>
		<menu>
			<swstocklocation translate="title" module="swstocklocation">
				<title> -=[ Stock Location ]=- </title>
				<sort_order>33</sort_order>
				<action>swstocklocation_admin/adminhtml_stocklocation</action>
				<children>
					<integration>
						<title>Integration</title>
						<sort_order>1</sort_order>
						<action>swstocklocation_admin/adminhtml_integration</action>
					</integration>
					<separ0>
						<title>--------------------------------------</title>
						<sort_order>2</sort_order>
					</separ0>
					<locations>
						<title>Locations</title>
						<sort_order>10</sort_order>
						<action>swstocklocation_admin/adminhtml_locations</action>
					</locations>
					<locationforproduct>
						<title>New location for product</title>
						<sort_order>30</sort_order>
						<action>swstocklocation_admin/adminhtml_newlocation</action>
					</locationforproduct>
					<separ2>
						<title>======================</title>
						<sort_order>40</sort_order>
					</separ2>
					<zona>
						<title>Zones</title>
						<sort_order>50</sort_order>
						<action>swstocklocation_admin/adminhtml_zones</action>
					</zona>
					<block>
						<title>Blocks</title>
						<sort_order>60</sort_order>
						<action>swstocklocation_admin/adminhtml_blocks</action>
					</block>
					<shelf>
						<title>Shelfs</title>
						<sort_order>70</sort_order>
						<action>swstocklocation_admin/adminhtml_shelfs</action>
					</shelf>
					<shelf>
						<title>Shelfs</title>
						<sort_order>80</sort_order>
						<action>swstocklocation_admin/adminhtml_shelfs</action>
					</shelf>
					<box>
						<title>Boxes</title>
						<sort_order>90</sort_order>
						<action>swstocklocation_admin/adminhtml_boxes</action>
					</box>
					<section>
						<title>Sections</title>
						<sort_order>100</sort_order>
						<action>swstocklocation_admin/adminhtml_sections</action>
					</section>
					<typebox>
						<title>Type boxes</title>
						<sort_order>110</sort_order>
						<action>swstocklocation_admin/adminhtml_typeboxes</action>
					</typebox>
					<sizelocation>
						<title>Location's sizes</title>
						<sort_order>110</sort_order>
						<action>swstocklocation_admin/adminhtml_sizelocation</action>
					</sizelocation>
				</children>
			</swstocklocation>
		</menu>
	</adminhtml>

	<default>
		<stocklocation>
			<general>
				<spx>0</spx>
				<spy>0</spy>
				<spz>0</spz>
			</general>
		</stocklocation>
	</default>

</config>


